apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: devops
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus-service.devops.svc.cluster.local:9090
      isDefault: true
