apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: devops
  labels:
    app: prometheus
spec:
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: http
  type: NodePort
